{% extends 'base.html' %}

{% from "bootstrap/form.html" import render_form %}

{% block content %}
    <div class="container-fluid">
        <div class="entete">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <h1>Me contacter</h1>
                        <h4>Vous avez des questions? | On a des réponses.</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Maxime quas saepe totam dolores eum, animi explicabo 
                            necessitatibus libero perspiciatis quia temporibus mollitia magni 
                            rem commodi, quo id. Numquam totam maiores cumque impedit
                            beatae voluptas possimus veritatis? Qui numquam labore quos!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="formulaire">
                            {% include "messages.html" %}
                            <form action="" method="post">
                                {{ render_form(form) }}
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
